.tabela_principal{
    position: absolute;
    top:30%;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1%;
    border-color: black;
    width:90%;
    left:5%;
    background-color: antiquewhite;
    margin: 0%;
  }
  .tabela_topo{
    font-weight: bold;
    font-size: large;
  }
  .botao{
    max-width: 22%;
    margin: 1%;
  }
  .botao_pagina{
    position: absolute;
    bottom:15%;
    right:5%;
  }